body{
  background-color: #c6c5c5;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #9f9d9d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style: none;
  gap: 10px;
  margin: 10px;
}
/* .ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 10px ;
  text-decoration: none;
} */
/* aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
} */
.img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  gap: 20px;
}
/* .button {
  background-color: #9f9d9d;
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 15px;
} */
.text {
  padding: 15px;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #9f9d9d;
  color: black;
  margin: 5px;
}
/* .divider{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
} */
.flexRow{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
   */
}
.sidebar {
  background-color: #b1acac;
  padding: 10px;
  margin: 10px;
  list-style: none;
  /* display: grid; */
  /* grid-template-columns: 10fr 2fr; */
  /* justify-content: center; */
  /* align-items: center; */
  
}
/* .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 400px;
  margin: 10px;
  gap: 20px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f2f2f2;
} */
.cardDb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 200px;
  margin: 10px;
  gap: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #f2f2f2;
  /* flex-wrap: wrap; */
}

.p{
    text-align: justify;
}
.header{
  grid-area: header;
}

.sidebar{
  grid-area: sidebar;
}
.footer{
  grid-area: footer;
}
.main{
  padding: 20px;
  grid-area: main;
}

.gridContainer{
  display: grid;
  grid-template-rows: 50px 1fr 1fr 50px;
  grid-template-columns: 100px 1fr 1fr;
  grid-template-areas: 
  'header header header header'
  'sidebar main main main'
  'sidebar main main main' 
  'footer footer footer footer';
}
@media(width < 600px){
  .gridContainer{
    display: grid;
    grid-template-rows: 50px 1fr auto 50px;
    grid-template-columns: 100vw;
    grid-template-areas: 
    'header'
    'sidebar'
    'main'
    'footer';
  }
}