body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #c6c5c5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 3px solid #9f9d9d;
  margin: 10px;
  gap: 20px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
.img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  gap: 20px;
}
.button {
  background-color: #9f9d9d;
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  padding: 15px;
}
.text {
  padding: 15px;
  text-align: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #9f9d9d;
  color: black;
  margin: 5px;
}
.divider{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 400px;
  margin: 10px;
  gap: 20px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f2f2f2;
}
.p{
    text-align: justify;
}
